.brandMessage {
  max-width: 50rem;
  margin: 0 auto;
  color: var(--color-accent);
  text-align: center;
  padding: 0 var(--padding);
}

@media (max-width: 768px) {
  .mainWrapper {
    margin-bottom: 50px;
  }
}
