.pageWrapper {
  margin-top: 10rem;
}

.aboutWrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 7.5rem;
  padding: 0 var(--padding);
}

@media (max-width: 900px) {
  .aboutWrapper {
    grid-template-columns: 1fr;
  }
}
