.iframeContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  z-index: 999;
}

.button {
  position: fixed;
  bottom: 4%;
  right: 100px;
  padding: 10px 20px;
  border: 6px solid var(--color-lime);
  background: var(--color-grey);
  border-radius: 14px;
  font-size: 16px;
  cursor: pointer;
  z-index: 1001;
  color: var(--color-white);
}

.iframe {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  border: none;
  background: #fff;
  z-index: 1000;
}
