.pageWrapper {
  margin-top: 1rem;
}

.sectionBlock {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.aboutPageDiv {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  font-size: 28px;
}

.sectionLabel {
  background-color: var(--color-brand);
  color: var(--color-black);
  padding: 0.375rem 0.5rem 0.375rem 0.5rem;
  border-radius: 5px;
  width: fit-content;
}

@media (max-width: 1024px) {
  .sectionBlock {
    display: flex;
    flex-direction: column;
    gap: 4.25rem;
  }

  .aboutPageDiv h1 {
    font-size: 28px;
  }

  .aboutPageDiv {
    display: flex;
    flex-direction: column;
    gap: 1.12rem;
  }

  .aboutPageDiv p {
    font-size: 16px;
  }

  .contactGroup p {
    font-size: 16px;
    font-weight: 400;
  }
}

@media (max-width: 480px) {
  .sectionBlock {
    display: flex;
    flex-direction: column;
    gap: 2.37rem;
  }

  .aboutPageDiv h1 {
    font-size: 16px !important;
  }

  .aboutPageDiv p {
    font-size: 16px !important;
  }

  .sectionLabel {
    font-size: 16px !important;
  }

  .aboutPageDiv {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
